@font-face {
  font-family: "PlayfairDisplay-SemiBold";
  src: url(./font/PlayfairDisplay-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay-Medium";
  src: url(./font/PlayfairDisplay-Medium.ttf);
  font-weight: 600;
  font-style: normal;
}
h1 {
  font-family: "PlayfairDisplay-SemiBold";
}
h5{
  font-family: "PlayfairDisplay-SemiBold";

  text-transform: capitalize;
}
p{
  font-family: "PlayfairDisplay-Medium";
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 470px;
}
